<div id="<%= dom_id tuit %>">
  <p>
    <strong>ID:</strong>
    <%= tuit.id %>
  </p>
  <p>
    <strong>Description:</strong>
    <%= tuit.description %>
  </p>

  <p>
    <strong>User name:</strong>
    <%= tuit.user_name %>
  </p>

</div>
