<p style="color: green"><%= notice %></p>

<%= render @tuit %>

<div class="d-flex my-3 justify-content-around">
  <%= button_to "Back to tuits", root_path, method: :get, class: 'btn btn-primary'%>
  <%= button_to "Destroy this tuit", @tuit, method: :delete, class: 'btn btn-danger ' %>
</div>
